<section class="blog-single section p-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shopping-cart section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <!-- Shopping Summery -->
                                <div class="table-wrapper">
                                    <table class="table shopping-summery">
                                        <thead>
                                            <tr class="main-hading">
                                                <th>PRODUCT</th>
                                                <th>ADDRESS</th>
                                                <th class="text-center">UNIT PRICE</th>
                                                <th class="text-center">QUANTITY</th>
                                                <th class="text-center">COUPON</th>
                                                <th class="text-center">TOTAL</th>
                                                <th>ACTIVE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(data != undefined ){%>
                                                <% for(var i=0; i< data.length ; i++){%>
                                            <tr>
                                                <td  data-title="No">
                                                    <% for(var j=0; j < data[i].product.length ; j++){%>
                                                    <img src="<%= data[i].product[j].product.img[0] %>" alt="#">
                                                    <p class=""><a href="#"><%= data[i].product[j].product.name %></a></p>
                                                    <%}%>
                                                </td>
                                                <td class="product-des" data-title="Description">
                                                    <p class="product-des"><%= data[i].address.address %></p>
                                                    <p class="product-des"><%= data[i].address.name %> | <%= data[i].address.phone %></p>
                                                </td>
                                                <td class="product-name">WAIT COMFIRM</td>
                                            </tr>
                                                <%}%>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                                <!--/ End Shopping Summery -->
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>