<div class="container-storage">
    <div class="row">
     <div class="col-2">
    <aside class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2 position-fixed overflow-auto">
     <!-- Sidebar -->
     <div class="sidebar">
       <!-- Sidebar user (optional) -->
       <div class="user-panel mt-3 pb-3 mb-3 d-flex border-bottom border-white">
         <h1 class="d-flex"> <i class="bi bi-person-circle"></i><a href="/" class="nav-link text-white" >ADMIN</a></h1>
        </div>
       <!-- Sidebar Menu -->
       <nav class="mt-2 ">
         <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
           <li class="nav-item">
             <a href="/admin" class="nav-link text-white">              
               <p>
                 <i class="bi bi-person-vcard-fill "></i>PROFILE
               </p>
             </a>
           </li>
           <li class="nav-item">
            <a href="/admin/product" class="nav-link text-white">
              <p>
                <i class="bi bi-clipboard2-data-fill"></i>PRODUCT
              </p>
            </a>
          </li>
          <li class="nav-item"></li>
            <a href="/admin/user" class="nav-link text-white">
              <p>
                <i class="bi bi-clipboard2-data-fill"></i>USER
              </p>
            </a>
          </li>
          <li class="nav-item"></li>
            <a href="/admin/blog" class="nav-link text-white">
              <p>
                <i class="bi bi-clipboard2-data-fill"></i>BLOG
              </p>
            </a>
          </li>
           <li class="nav-item">
             <a href="/admin/service" class="nav-link text-white">
               <p>
                 <i class="bi bi-clipboard2-data-fill"></i>SERVICE
               </p>
             </a>
           </li>
           <li class="nav-item">
             <a href="/admin/size" class="nav-link text-white">
               <p>
                 <i class="bi bi-grid-3x3-gap"></i>SIZE
                 <i class="fas fa-angle-left right"></i>
               </p>
             </a>
               <li class="nav-item">
                 <a href="/admin/categori" class="nav-link text-white">
                   <p><i class="bi bi-kanban"></i>CATEGORI</p>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="/admin/color" class="nav-link text-white">
                   <p><i class="bi bi-trophy"></i>COLOR</p>
                 </a>
               </li>
               <li class="nav-item">
                <a href="/admin/userclass" class="nav-link text-white">
                  <p><i class="bi bi-trophy"></i>USERCLASS</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/discount" class="nav-link text-white">
                  <p><i class="bi bi-trophy"></i>DISCOUNT</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/classfy" class="nav-link text-white">
                  <p><i class="bi bi-trophy"></i>CLASSFY</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="/admin/contact" class="nav-link text-white">
                  <p><i class="bi bi-trophy"></i> CONTACT </p>
                </a>
              </li>
               <li class="nav-item">
                 <a href="/admin/soicial" class="nav-link text-white">
                   <p><i class="bi bi-people-fill"></i> SOICIAL</p>
                 </a>
               </li>
               <li class="nav-item">
                <a href="/admin/role" class="nav-link text-white">
                  <p><i class="bi bi-people-fill"></i> ROLE</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/user" class="nav-link text-white">
                  <p><i class="bi bi-people-fill"></i> INFORMATION USER</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/tag" class="nav-link text-white">
                  <p><i class="bi bi-people-fill"></i>TAGS</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="/logout" class="nav-link text-white">
                  <p><i class="bi bi-box-arrow-left"></i> LOGOUT</p>
                </a>
              </li>
            </div>
         <!-- /.sidebar -->
       </aside>
     </div>
      <!--main-content-->
  </div>