<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/admin/header.ejs') %>

    <style>
      body, html {
          height: 100%;
          margin: 0;
      }
      .container-fluid {
          height: 100%;
      }
      .row {
          height: 100%;
      }
      .position-fixed {
          height: 100vh;
      }
      .main-content {
          margin-left: 250px; /* Điều chỉnh theo chiều rộng của sidebar */
          padding: 20px;
      }
  </style>
</head>
<body>
  <%- include('../common/admin/siderbaadmin.ejs') %>

     <!--main-content-->
 </div>
  <div class="main-content ml-2 col-10" >
    <div class="row text-center">
      <h1>EDIT USERCLASS</h1> 
    </div>
    <form action="/admin/userclass/edit/<%= data.id %>" method="post">
    <div class="row justify-content-center">
        <div class="col-5 border border-dark rounded p-3 ">
           <div class="row mb-5 overflow-hidden ">
            <div class="form-group">
              <label for="email">Name</label>
              <input type="text" class="form-control" id="email" value="<%= data.name %>" name="name">
            </div>  
               <button type="submit" class="btn btn-default btn-dark mt-2 mb-2 " >UPDATE</button>
               <button type="button" class="btn btn-dark btn-default " ><a href="/admin/userclass" class="nav-link text-white" >RETURN</a></button>
            </div>
       </div> 
    </div>
</form>
  </div>
      


</body>
</html>